@use 'src/utils/variables';


// Shadow 

@mixin titleShadow($color) {
  @if ( lightness($color) < 25% ) {
    $color: lighten($color, 20%); 
  }@else{
    $color: darken($color, 20%);
  }
  text-shadow: variables.$shadow-values $color;
  text-align: center;
}

// Form

@mixin formStyle($form) {
      font-size: map-get($form, size);
      font-weight: map-get($form, weight);
      color: map-get($form, color);
    }

// Ca c'est pour créer un pseudo sélecteur d'état donc plutôt pour le bed : 
// @mixin bedStyle($form) {
//     @each $key, $value in $form{
//       &:#{$key}{
//       font-size: map-get($value, size);
//       font-weight: map-get($value, weight);
//       color: map-get($value, color);
//       }
//     }
// }

