@use 'src/utils/variables';


// Color Shadow (condition)

@mixin colorShadow($color) {
    text-align: center;
    @if ( lightness($color) < 25% ) {
      $color: lighten($color, 20%); 
    }@else{
      $color: darken($color, 20%);
    }
    text-shadow: variables.$shadow-values $color;
}

// Background Color (condition)

@mixin backgroundColor($color) {
    @if ( lightness($color) < 25% ) {
      $color: lighten($color, 90%); 
    }@else{
      $color: darken($color, 90%);
    }
    background-color: $color;
}

// Sheet Color (condition)

@mixin sheetColor($color) {
  @if ( lightness($color) < 25% ) {
    $color: lighten($color, 80%); 
  }@else{
    $color: darken($color, 80%);
  }
  background-color: $color;
}

// Form Style (map-get)

@mixin formStyle($form) {
      font-size: map-get($form, size);
      font-weight: map-get($form, weight);
      color: map-get($form, color);
    }

// Subtitle Style (map-get)

@mixin titleStyle($title) {
  font-size: map-get($title, size2);
  font-weight: map-get($title, weight);
  font-family: map-get($title, font);
}

// Form Position (simple values)

  @mixin formContainer() {
    display:flex;
    justify-content: center;
    align-items: center;
  }

