@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

// Colors : 

$color-title :  #ff766c;
$color-background: #342b4a;
$color-subtitle :  #d34c42;
$color-form :  #ce5d55;
$color-label : #5f458b;
$color-input: #1c152c;

// Sizes : 

$shadow-values : 2px 2px 1px;
$font-size: 1em;
$form-border: 0.5rem solid #1c152c;

// Text Values : 

$titleInfos: (
  size1: 5rem,
  size2: 3rem,
  weight: bold,
  font: 'Fira Sans',
);

$formLabel: (
  size: 1rem,
  weight: bold,
  color: $color-label,
);

$formInput: (
  size: 1rem,
  weight: 400,
  color: $color-input,
);


