// Colors : 

$color-title : #27530a;
$color-subtitle : pink;
$color-label : red;
$color-input: yellow;

// Sizes : 

$shadow-values : 2px 2px 1px;
$form-margin-values : 5rem 10rem;

// Text Values : 

$titleInfos: (
  size: 4rem,
  weight: bold,
);

$formLabel: (
  size: 1rem,
  weight: bold,
  color: $color-label,
);

$formInput: (
  size: 2rem,
  weight: light,
  color: $color-input,
);


