@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

// Colors : 

$color-title : #27530a;
$color-subtitle : pink;
$color-label : red;
$color-input: rgb(17, 17, 17);

// Sizes : 

$shadow-values : 2px 2px 1px;
$font-size: 1em;

// Text Values : 

$titleInfos: (
  size1: 4rem,
  size2: 3rem,
  weight: bold,
  font: 'Fira Sans',
);

$formLabel: (
  size: 1.2rem,
  weight: bold,
  color: $color-label,
);

$formInput: (
  size: 1rem,
  weight: regular,
  color: $color-input,
);


