@use 'src/utils/variables';
@use 'src/utils/mixins';

.Room__container {

  display: flex;
  justify-content: center;

  .Head {

    background-color: variables.$color-label;
    border: variables.$form-border;
    margin: 2rem auto -2rem auto;
    width: 25rem;
  }

  .Bottom {

    background-color: variables.$color-label;
    border: variables.$form-border;
    margin: -2.5rem auto;
    width: 22rem;
  }

  .Bed {
    
    &__container {

    display:flex;
    flex-direction: column;
    background-color: variables.$color-label;
    border: 0.7rem solid variables.$color-input;
    padding:0.5rem;
    margin: 2rem auto;
    height:25rem;
    width:20rem;
  }

    &__head {

      display:inline-flex;
      flex-direction: row;
      padding:0.3rem;
      height:25%;
    }
    
    &__pillow {

      background-color: variables.$color-title;
      border-radius: 10%;
      height:5rem;
      width: 9rem;
      margin: 0.5rem;

      &--result {
        
        display: inline-block;
        height:100%;
        border-radius: 10%;
        background-color: variables.$color-subtitle; 
        }
    }

    &__sheet {

      border-top-left-radius: 5%;
      border-top-right-radius: 5%;
      background-color: variables.$color-title;
      height:80%;

      &--fold {

        background-color: variables.$color-subtitle; 
        height:20%;    
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
      }
    }
    
    &__result {

      @include mixins.colorShadow(variables.$color-subtitle);
      display: inline-block;
      background-color: variables.$color-subtitle; 
      height:80%;
      font-weight: bold;
      text-align: center;
      }
  }
}
