@use 'src/utils/variables';
@use 'src/utils/mixins';

.Field {

  &__input {
    @include mixins.formStyle(variables.$formInput);
    padding: 0.2em 1em;
    width:4em;
    border: none;
    background-color: transparent;
    font-size: variables.$font-size;

    &:focus {
      @include mixins.backgroundColor(variables.$color-input);
    }
  }
}


