
.field {
  margin: .3em;
  position: relative;
}
.field-input {
  width: 100%;
  padding: .7em;
  font-size: 1em;
  border: none;
  border-radius: .3em;
  height: 2.5em;
}
.field-input:focus {
  border-color: #2608aa;
}
.field-input:focus + .field-label {
  color: #2608aa;
}

.field--has-content .field-label {
  display: block;
}

.field--has-content .field-input {
  padding: 1.4em .7em .4em;
}

.field-label {
  display: none;
  position: absolute;
  top: .2rem;
  left: .7rem;
  font-weight: 700;
  color: #999;
  font-size: .7em;
  text-transform: uppercase;
  font-family: sans-serif;
  animation: labelSlideUpAndShow .3s;
}
@keyframes labelSlideUpAndShow{
  0% {
    transform: translateY(1em);
    opacity: 0;
  }
  100% {
    transform: translateY(0em);
    opacity: 1;
  }
}

