@use 'src/utils/variables';
@use 'src/utils/mixins';


.Form {

  @include mixins.formContainer();
  flex-direction: column;

  &__title {
    @include mixins.colorShadow(variables.$color-subtitle);
    color: variables.$color-subtitle;
    justify-content: center;
  }

  &__row {

    @include mixins.formContainer();
    flex-direction: row;  

      & label {
          @include mixins.formStyle(variables.$formLabel);
      }
  }

    &__input {
      @include mixins.formStyle(variables.$formInput);
      padding: 0.2em 1em;
      width:4em;
      border: none;
      background-color: transparent;
      font-size: variables.$font-size;
  
      &:focus {
        @include mixins.backgroundColor(variables.$color-input);
      }
}
}