@use 'src/utils/variables';
@use 'src/utils/mixins';


.Form {

  display:flex;
  flex-direction: column;
  margin:variables.$form-margin-values;
  width:50%;

  &__row {

    display:flex;
    flex-direction: row;
  }

  &__row label {
    @include mixins.formStyle(variables.$formLabel);
  }
}